/*page contact*/
#contact_page
{
	position: relative;
	top: 100px;
	width: 100%;

	display: flex;
	flex-direction: column;
}
#contact_section
{
	width: 100%;
	height: 1250px;

	display: flex;
	flex-direction: row;
}
#left_side
{
	width: 50%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#coordonnees_article_left
{
	width: 100%;
	height: 40%;

	background-color: #732103;
	border: solid 25px white;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
div[id="left_side"] h1
{
	font-size: 1.75em;
	margin-left: 1em;

	color: black;
	text-decoration: underline;
}
#coordonnees_article_left h3
{
	font-size: 1.75em;
	margin-left: 1em;

	color: white;
	text-decoration: underline;
}
#coordonnees_article_left p
{
	font-size: 1.4em;
	color: white;

	margin: 1.5em;
	margin-bottom: 2em;
}
.google_map_figure
{
	width: 100%;
	height: 60%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#google_map
{
	width: 90%;
	height: 90%;
	margin: 5%;

	border: double 10px red;
}
#coordonnees_article_right
{
	width: 50%;
	height: 100%;

	padding: 10px;
	padding-top: 50px;

	display: flex;
	flex-direction: column;
	align-items: center;
}
#coordonnees_article_formulaire
{
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
}


/*pour le formulaire*/
fieldset
{
	width: 100%;

	box-sizing: border-box;
	border: 2px black solid;
	padding: 10px;
}
#coordonnees_article_formulaire_1fieldset
{
	margin-bottom: 50px;
}
input
{
	width: 100%;
	height: 60px;
	margin-bottom: 10px;
}
textarea
{
	width: 100%;
	height: 200px;
}
#coordonnees_article_formulaire_submit
{
	width: 25%;
	margin: 10px;
	margin-left: 5%;
}