/*page d'acceuil*/
#welcome_page
{
	position: relative;
	top: 100px;
	width: 100%;
}

/*google map illustration*/
#illustration
{
	background: url("pictures/illustration.jpg") no-repeat center;
	background-size: 100%;

	height: 550px;
}

/*1ere section presentation*/
/*gauche:  presentation globale*/
#presentation
{
	height: 300px;

	background: url(background/acier.jpg);
	background-size: cover;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#presentation_article
{
	height: 100%;
	width: 60%;

	display: flex;
	justify-content: center;
	align-items: center;
}
#presentation_article_list
{
	height: 90%;
	width: 90%;

	padding: 100px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
#presentation_article_list h3
{
	margin-bottom: 0.5em;

	color: white;

	font-size: 2em;

	text-align: left;
}
#presentation_article_list ul
{
	color: white;
	margin: 10px;

	font-size: 1.25em;

	list-style: square inside;
}
/*droite : contactez-nous*/
#presentation_contact
{
	background-color: grey;

	width: 40%;
	height: 128px;

	margin-right: 50px;

	background: url(background/fond_carbone_perspective.jpg);
	background-size: cover;

	border: 0px black solid;
	border-radius: 50px/50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#presentation_contact h3
{
	color: white;

	font-size: 1.25em;

	text-align: center;
}
#presentation_contact_button
{
	background-color: red;

	height: 1.5em;
	width: 8em;
	margin-top: 1em;
}
#presentation_contact_button p
{
	color: white;
}
#presentation_contact_button p:visited
{
	color: white;
}


/*pour les titres des parties*/
#welcome_page h2
{
	color: #fff;
	font-size: 2em;
	margin-left: 20%;
	margin-right: 20%;
}


/*2eme section sur la societe*/
#compagny
{
	width: 100%;
	height: 900px;

	display: flex;
	flex-direction: column;
}
#compagny_title
{
	width: 100%;
	height: 100px;

	background: url(background/bois.jpg);
	background-size: cover;

	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#compagny_section
{
	width: 100%;
	height: 800px;

	background-color: grey;

	display: flex;
	flex-direction: row;
}
#compagny_section_figure
{
	width: 50%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
#compagny_section_figure_image
{
	width: 100%;
	height: 400px;

	margin: 10px;
	border: double 10px red;

	background-image: url(pictures/fourgon.jpg);
	background-size: cover;
}
#compagny_section_article
{
	width: 50%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


/*3ème section sur les services*/
#services
{
	width: 100%;
	height: 900px;
}
#services_title
{
	width: 100%;
	height: 100px;

	background: url(background/bois.jpg);
	background-size: cover;

	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#services_section
{
	max-width: 100%;
	height: 800px;

	background-color: grey;

	display: flex;
	flex-direction: row;
}
#services_section_article
{
	width: 50%;
	max-height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#services_section_figure
{
	width: 50%;
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#services_section_figure_image
{
	width: 100%;
	height: 400px;

	margin: 10px;
	box-sizing: border-box;
	border: double 10px red;

	background-image: url(pictures/machine.jpg);
	background-size: cover;
}