*
{
	margin: 0px;
	padding: 0px;
}
.center_text
{
	text-align: center;
}

.organised_list
{
	list-style: square inside;
}

/*page index.html*/

nav
{
	background-color: #80F5FF;

	z-index: 9999;
	position: fixed;
	top: 0px;
	left: 0px;
	min-height: 100px;
	width: 100%;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.element_nav
{
	background-color: red;

	max-height: 75%;
	width: 40%;
	margin: 10px;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;	
}

.element_nav_clicker
{
	background-color: white;

	width: 40%;
	height: 80%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#nav_contact
{
	background: grey;

	width: 300px;

	display: flex;
	justify-content: left;
	align-items: center;
}

#offset
{
	position: relative;
	top: 100px;
	width: 100%;
}

#illustration
{
	background: url("illustration.jpg") no-repeat center;
	background-size: 100%;

	min-height: 400px;
}

#bloc_principale
{
	height: 400px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#bloc_article
{
	height: 100%;
	width: 60%;

	display: flex;
	justify-content: center;
	align-items: center;
}

#bloc_avantages
{
	background-color: grey;

	height: 90%;
	width: 90%;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

#bloc_contact
{
	min-height: 150px;
	height: 80%;
	width: 40%;

	display: flex;
	justify-content: center;
	align-items: top;
}

#bloc_contact_div
{
	background-color: grey;

	width: 80%;
	height: 128px;


	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contactez-nous_button
{
	background-color: red;

	height: 1.5em;
	width: 8em;
	margin-top: 1em;
}

.divided2_section
{
	min-height: 500px;

	display: flex;
}

.divided2_section *
{
	width: 50%;
}

.section_figure
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.section_figure_image1
{
	background: url("fourgon.jpg") center;
	background-size: cover;

	width: 95%;
	height: 95%;
}

.section_figure_image2
{
	background: url("machine.jpg") center;
	background-size: cover;

	width: 95%;
	height: 95%;
}

.article
{
	background-color: grey;

	height: 500px;

	display: flex;
	justify-content: center;
	align-items: center;
}

footer
{
	background-color: #515151;

	min-height: 200px;
}

/*page contact.html*/

#contact_page
{
	position: relative;
	top: 100px;
	width: 100%;

	display: flex;
	flex-direction: column;
}

#contact_section
{
	width: 100%;
	height: 800px;

	display: flex;
	flex-direction: row;
}


#left_side
{
	background-color: red;

	width: 50%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#coordonnees
{
	background-color: white;

	width: 100%;
	height: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}

#coordonnees_article
{
	background-color: grey;

	width: 90%;
	height: 90%;
}

article[id="coordonnees_article"] h1
{
	background-color: yellow;
}

article[id="coordonnees_article"] p
{
	background-color: yellow;

	margin-top: 1em;
	margin-bottom: 0.5em;
}

article[id="coordonnees_article"] p strong
{
	background-color: red;

	font-weight: bold;
}

#without_dot
{
	list-style: none;
}

.google_map_figure
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.google_map_figure:nth-child(1)
{
	background-color: white;
	
	align-self: flex-start;
	margin-left: 5%;
}

#google_map
{
	border: 0;
	width: 90%;
	height: 90%;
}

#coordonnees_article_formulaire
{
	background-color: grey;
	width: 50%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}